#services {
  // scroll-margin-top: 104px;
  padding-top: 176px;
  padding-bottom: 272px;
  background: #161616;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .container {
    width: 1294px;
  }

  h2 {
    color: #fff;
  }

  .services-section-desc {
    max-width: 617px;
    margin: 0 auto;
    margin-top: 18px;
    color: #909090;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 46px;
  }

  .services-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 38px;
    .service-item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
      width: 301px;
      height: 212px;
      border-bottom: 10px solid #e7c175;
      position: relative;
      overflow: hidden;

      &:hover {
        .service-item-overlay {
          top: 0px;
        }
      }
      .service-item-overlay {
        transition: 0.3s;
        background: #00000057;
        backdrop-filter: blur(6px);
        position: absolute;
        top: 230px;
        bottom: -10px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        .service-item-overlay-icon {
          background: #e7c175;
          width: 53px;
          height: 53px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .services-item-detail {
        .services-item-icon {
          margin-bottom: 18px;
        }

        .services-item-desc {
          color: #252b42;
          font-family: "Cormorant";
          font-size: 28px;
          font-weight: 700;
          line-height: 32.09px;
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding-top: 94px;
    padding-bottom: 194px;
    .container {
      padding-right: 24px;
      padding-left: 24px;
    }

    .services-section-desc {
      margin-bottom: 84px;
    }

    .services-box {
      row-gap: 31px;

      .service-item {
        //  width: 100% !important;

        .services-item-detail {
          .services-item-icon {
            margin-bottom: 20px;
          }

          .services-item-desc {
            font-size: 30.42px;
            line-height: 34.86px;
          }
        }
      }
    }
  }
}
