#about {
  scroll-margin-top: 104px;
  background: #FAFAFA;
  padding-top: 88px;
  padding-bottom: 140px;
  background-image: url("../../assets/images/about-pattern1.png"),url("../../assets/images/about-pattern2.png");
  background-repeat:no-repeat,no-repeat;
  background-position:left bottom,right bottom;
  .about-desc {
    color: #252b42;
    width: 858px;
    margin: 0 auto;
    margin-top: 18px;
    font-family: "Cormorant";
    font-size: 24px;
    font-weight: 700;
    line-height: 27.5px;
    text-align: center;
  }
}
