// COLOR
$color-primary-black: #161616;
$color-primary-likeBlack: #121212;
$color-primary-gray: #cdcdcd;
$color-primary-white: #fff;
$color-secondary-gray: #7d7d7d;
$color-main: #e4c066;
$color-date: #959595;
$color-main-sc: #e4c066;
// $color-main-sc: #c0925b;
$color-primary-link: #4285f4;
$color-note: #616161;
$color-view: #959595;
$color-box-bg: #fafafa;
$color-file-bg: #f9fdff;
$color-file-border: #dae6eb;
$color-leader: #898989;
$color-paginate: #6b7280;
$color-dots: #d9d9d9;
$color-filter: #838383;
$color-border: #c6c6c6;
$base-color: #ddd;
$shine-color: #e8e8e8;
$color-poster: #b6b6b6;
$search-border: #d0d0d0;
$color-table-bg: #f5f5f5;
$color-error: #ff5c5c;

//animation
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

// loading
$grey-400: #829ab1;
$primary-500: #ff922b;

// FONT FAMILY
$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-anglecia: 'Anglecia Pro Display';
$font-play: 'Playfair Display', sans-serif;
$font-cormorant: 'Cormorant Infant', serif;

// FONT WEIGHT
$font-300: 300;
$font-regular: 400;
$font-medium: 500;
$font-600: 600;
$font-bold: 700;

//border-line
$border-line: 2px solid rgba(192, 146, 91, 0.3);
