#contact {
  scroll-margin-top: 104px;
  background: #252b42;
  padding-top: 95px;
  padding-bottom: 108px;
  .contact-form {
    max-width: 1085px;
    margin: 0 auto;
    .form-row {
      display: flex;
      gap: 30px;
      margin-bottom: 57px;
      .form-item {
        width: 100%;
        input {
          height: 41px;
        }

        input,
        textarea {
          width: 100%;
          background: transparent;
          border: none;
          border: none;
          border-bottom: 1px solid #3a4553;
          padding-bottom: 13px;
          outline: none;
          &:focus {
            border-bottom: 1px solid #fff;
          }
          color: #fff;
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;

          &::placeholder {
            color: #d7d7d7;
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
          }
        }

        textarea {
          resize: none;
          height: 121px;
        }
      }
    }

    .form-footer {
      display: flex;
      justify-content: center;
      .submit-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 235px;
        height: 54px;
        background: #e7c175;
        border: 1px solid #ffffff;

        color: #252b42;
        font-family: "Inter";
        font-size: 14.72px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .container{
      padding-left: 24px;
      padding-right: 24px;
    }

    .form-row{
      flex-direction: column;
      margin-bottom: 0px !important;
      gap:0px !important;
      .form-item{
        margin-bottom:40px;

        input, textarea{
          &::placeholder{
            font-size: 18px !important;
          }
        }
      }
    }

  }
}
