#service-detail {
  background: #f4f4f4;

  .container {
    max-width: 1102px;
    background: #fff;
    padding: 49px;
    padding-bottom: 64px;
  }

  .page-title {
    color: #1f2732;
    font-family: "Cormorant";
    font-size: 48px;
    font-weight: 700;
    line-height: 55.01px;
    text-align: left;
    margin-bottom: 20px;
  }

  .service-detail-content {
    margin-bottom: 152px;
    p {
      color: #909090;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 576px) {
    .container {
      padding: 24px;
      padding-bottom: 55px;
    }

    .service-detail-content{
      margin-bottom: 0px;
    }
  }
}
