header {
  // height: 103px;
  position: fixed;
  width: 100%;
  // display: flex;
  // justify-content: center;

  transition: 0.3s;
  z-index: 99;

  &.sticky {
    backdrop-filter: blur(10px);
    background: #00000038;

  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    cursor: pointer;
  }

  .desktop-nav {
    &.active {
      display: block;

      ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    ul {
      display: flex;
      gap: 40px;

      li {
        margin-top: 12px;
        border-bottom: 2px solid transparent;
        padding-bottom: 12px;
        transition: 0.3s;
        position: relative;

        &:hover .dropdown {
          display: flex;
        }


        .dropdown {

          position: absolute;
          top: 30px;
          min-width: 260px;
          margin: 0 auto;
          background-color: #fff;
          display: none;
          flex-direction: column;
          overflow: hidden;
          gap: 0px;
          padding:5px;

          li {
            cursor: pointer;
            transition: 0.3s;
            margin: 0px;
            padding: 2px;
            border: none;

            color: #252b42;
            text-align: left;
            font-family: "Roboto";
            text-transform: none;
            font-size: 15px;
            font-weight: 400;
            transition: 0.3s;

            &:hover {
              background: #e7c175;
              color:#333;
            }

            // &:hover a{
            //   color:#333;
            // }

            // a {
            //   color: #252b42;
            //   font-family: "Roboto";
            //   text-transform: none;
            //   font-size: 15px;
            //   font-weight: 400;
            //   transition: 0.3s;
            // }

          }

        }

        a {
          color: #e4e4e4;
          font-family: "Roboto";
          text-transform: uppercase;
          font-size: 17.19px;
          font-weight: 400;
          line-height: 27.3px;
          text-align: center;

        }

        &:hover {
          border-bottom: 2px solid #e7c175;
        }
      }
    }
  }

  .lang-select {
    cursor: pointer;
    width: 65px;
    height: 38px;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.8px;
    letter-spacing: 0.02em;

    &:hover {
      .lang-box {
        display: block;
      }
    }

    .selected-lang {
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .lang-box {
      display: none;
      text-align: center;
      background: #fff;
      color: #333;

      li {
        padding: 2px 5px;
        transition: 0.3s;

        &:hover {
          background: #eee;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
  }

  .mobile-menu {
    overflow-y: scroll;
    display: none;

    position: absolute;
    transition: 0.5s;
    top: 0px;
    left: -1500px;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #000 !important;
    justify-content: start !important;

    .mobile-menu-logo {
      position: relative;
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 2px solid #d1b06b;
      margin-right: 38px;
      margin-left: 38px;
      margin-top: 20px;


      .close {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    &.active {
      left: 0px;
    }

    .mobile-menu-nav {
      margin-top: 52px;
      margin-bottom: 92px;

      ul {
        display: flex;
        gap: 44px;
        flex-direction: column;
        align-items: center;

        li {
          display: flex;
          flex-direction: column;

          a {
            // display: flex;
            // align-items: center;
            // gap: 5px;

            text-transform: uppercase;
            color: #e4e4e4;
            font-family: "Roboto";
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            text-align: center;
          }

          .mobile-dropdown {
            display: none;
            margin-top: 30px;
            gap: 20px;

            &.active {
              display: flex;
            }

            li {
              a {
                text-transform: none;
                color: #e4e4e4;
                font-family: "Roboto";
                font-size: 20px;
                font-weight: 400;
                line-height: 34px;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .mobile-menu-social {
      margin-bottom: 38px;
      justify-content: center;
      display: flex;
      gap: 32px;
    }
  }


  @media screen and (max-width: 1300px) {

    .mobile-menu {
      display: block;
    }

    .desktop-nav {
      display: none;
    }

    .lang-select {
      display: none;
    }

    .hamburger-menu {
      cursor: pointer;
      display: block;
    }
  }
}