#partners {
  scroll-margin-top: 104px;
  padding: 100px 0px;
  .partners-box {
    margin-top: 16px;
    display: flex;
    gap: 16px;

    .partner-item img {
      transition: 0.3s;
    }

    .partner-item:hover img {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
