footer {
  background: black;
  padding-top: 119px;
  .container {
    max-width: 1800px;
  }

  .footer-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
    gap:30px;
    .footer-left {
      // .footer-logo {
      //   text-align: center;
      // }
      .footer-desc {
        margin-top: 22px;
        max-width: 486px;
        color: #fff;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
      }

      .footer-social {
        margin-top: 35px;
        display: flex;
        gap: 30px;
      }
    }

    .footer-right {
      display: flex;
      gap: 108px;
      .footer-menu {
        h3 {
          color: #fff;
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 800;
          line-height: 24px;
          text-align: left;
          margin-bottom: 16px;
        }

        .footer-contact{
          max-width:220px;
          li{
            a{
              display: flex;
              gap: 10px;

            }
      
          }
        }

        ul {
          li {
            &:hover {
              a {
                color: #e7c175;
              }
            }

            .footer-address {
              font-size: 22px;
              font-weight: 600;
            }

            a {
              transition: 0.3s;
              color: #ffffff;
              font-family: "Roboto";
              font-size: 16px;
              font-weight: 400;
              line-height: 60px;
              letter-spacing: -0.015em;
              text-align: left;
            }
          }
        }
      }
    }

    .footer-social-mobile{
      display: none;
    }
  }

  .footer-copyright {
    border-top: 1px solid #a7a7a7;
    display: flex;
    justify-content: space-between;
    padding: 45px 140px;
    .copyright {
      color: #ffffff;
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.015em;
      text-align: left;
    }

    .footer-bottom-menu {
      ul {
        display: flex;
        gap: 10px;
        li {
          &:hover {
            a {
              color: #e7c175;
            }
          }

          a {
            color: #ffffff;
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer {
    padding-top: 50px;

    .footer-main {
      flex-direction: column;
      padding-bottom: 80px !important;
      justify-content: center !important;
      align-items: center !important;
      padding-left: 24px !important;
      padding-right: 24px !important;
      .footer-desc {
        width: 100%;
        margin-top: 33px !important;
        margin-bottom: 73px !important;
        color: #909090 !important;
        font-size: 20px !important;
        text-align: center !important;
      }

      .footer-social {
        display: none !important;
      }

      .footer-menu:not(:last-child) {
        display: none;
      }

      .footer-menu:last-child {
        
        h3 {
          text-align: center;
          color: #909090;
          font-family: "Roboto";
          font-size: 26px;
          font-weight: 800;
          line-height: 26.9px;
          margin-bottom: 17px;
        }

        li {
          a {
            color: #909090 !important;
            font-family: "Roboto" !important;
            font-size: 20px !important;
            font-weight: 400 !important;
            line-height: 44.84px !important;
            letter-spacing: -0.015em !important;
            text-align: center !important;
          }

          .footer-address {
            font-size: 24px !important;
            font-weight: 600 !important;
          }
        }
      }

      .footer-social-mobile{
        margin-top: 95px;
        display: flex;
        gap:46px;
      }
    }

    .footer-copyright {
      border-top:none;
      padding: 29px 38px !important;
      flex-direction: column;
      .copyright {
        color: #909090;
      }

      .footer-bottom-menu {
        ul{
          gap: 10px !important;
          li {
            a {
              color: #909090 !important;
            }
          }
        }

      }
    }
  }
}
