* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

//import Fonst
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  position: relative;
}

.scroll-top{
  background-color: #e7c175;
  color:#252b42;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:30px;
  right: 30px;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
  span{
    animation: scrollAnimation 0.7s ease-in-out infinite alternate;
  }
  &:hover{
    background-color: #ecce93;
  }
}

@keyframes scrollAnimation {
  from{transform: translateY(7px);}
  to{transform:translateY(-5px)}
} 

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1b06b;
}

::selection {
  background: #d1b06b;
  color: #fff;
}

.container {
  max-width: 1294px;
  margin: 0 auto;
}

.section-title {
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 700;
  line-height: 51.57px;
  text-align: center;
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    width: 95px;
    height: 2px;
    background: #d1b06b;
  }
}

.no-data {
  font-family: "Inter";
  font-size: 30px;
  padding: 50px;
  text-align: center;
}

.page-header {
  height: 353px;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3901) 0%,
      rgba(0, 0, 0, 0.83) 100%
    ),
    url("./assets/images/hero.png");
  .page-title {
    color: #fff;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 51.57px;
    text-align: center;
    padding-top: 168px;
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      margin-top: 24px;
      width: 95px;
      height: 2px;
      background: #d1b06b;
    }
  }
}

.btn-more {
  display: none;
  background: #e7c175;
  font-family: "Roboto";
  width: 100%;
  height: 75.14px;
  padding: 22.96px 0px 24.18px 0px;
  margin-top: 89px;
  border: 1.39px solid #ffffff;
  font-size: 20.49px;
  font-weight: 800;
  line-height: 27.83px;
  text-align: center;

  @media screen and (max-width: 576px) {
    display: block;
  }
}
